@media screen and (max-width:1024px){
    .mobile-menu span{
        display: block;
    }
    .main-manu{
        display: none;
    }
}


@media screen and (max-width:1232px){
    html{
        font-size: 52%;
    }
    .hero-text-box{
        width: 100%;

    }
    
}